# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Localization.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Christoph\Desktop\Unity\Unity-Projects\Localization\.idea\.idea.Localization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
